* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: #2B2B2B;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 4px;
}

.header {
    width: 100%;
    position: fixed;
    background: #000;
    padding: 15px 0;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
}

.potter-icon {
    width: 45px;
    align-self: flex-start;
    margin-top: -5px;
}

.potter-icon img {
    max-width: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@keyframes startingAnimation {
    0% {
        transform: translate3d(-30vw, 0, 0);
        opacity: 0;
    }

    70% {
        transform: translate3d(20vw, 0, 0);
        opacity: .7;
    }

    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.intro {
    animation: startingAnimation 2s ease-in-out forwards;
}

.my-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background: linear-gradient(to right bottom, #3203b2, #06064c);
}

.my-name .intro h1 {
    font-size: 80px;
}

.my-name .intro h3 {
    font-size: 28px;
    text-align: end;
    color: #fff;
}

.my-name .hero-container {
    width: 600px;
}

.my-name .hero-container img {
    max-width: 100%;
}

.portfolio {
    color: #FFFFFF;
    font-size: 40px;
    cursor: pointer;
}

.portfolio span {
    color: #e08277;
}

li {
    color: #FFFFFF;
    list-style: none;
    display: inline-block;
    font-size: 25px;
    margin-right: 20px;
    cursor: pointer;

}

li:hover {
    color: #e08277;
    transition: 0.5s;

}

.linkMenu {
    text-decoration: none;
    color: white;

}

.linkMenu:hover {
    color: #e08277;
    transition: 0.5s;

}

h1 {
    color: white;
}

h1 span {
    color: #e08277;

}

.myname h3 {
    color: white;
    font-size: 25px;
}

section div h2 {
    color: #e08277;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 90px;
}



.about-skill {
    text-align: center;

}

/* section div p {
    color: #eee6e8;
    font-size: 1rem;
    margin-top: 15px;
    margin-bottom: 60px;
}

section div button {
    color: white;
    background: orangered;
    height: 50px;
    width: 180px;
    font-size: 18px;
    border: none;
    border-radius: 26px;
    cursor: pointer;
} */

.about-content p {
    width: 500px;
    color: white;
    padding-top: 30px;
}

.card-skill {
    background: transparent;
    border-radius: 12px;
    margin: 0 10px;
    cursor: pointer;
    padding-top: 30px;
}

.card-skill:hover {
    /*   box-shadow: 0 8px 12px rgba(0, 0, 0, .2), 0 8px 12px rgba(0, 0, 0, .4), 0 8px 12px rgba(0, 0, 0, .6); */
    transition: .3s ease-in-out;
    transform: scale(1.10)
}


.about-and-skills {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
    padding: 10px;
    height: 100vh;
}

.skills {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    font-size: 0.7rem;
    padding-top: 30px;
    flex-wrap: wrap;
    max-width: 400px;



}

.icon-skill-container {
    background: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 12px;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    overflow: hidden;
}

.icon-skill-container img {
    max-width: 100%;
}

.card-skill span {
    color: white;
    font-size: 14px;
    display: block;
    margin-top: 6px;



}

section div button:hover {
    background-color: #e08277;
    transition: 0.5s;

}

.projects {
    background: #2B2B2B;
    /*  padding-top: 50px; 
    padding-bottom: 180px; */
    height: 100vh;
}

.projects h2 {
    height: 100px;
    color: white;
    font-size: 75px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 40px;


}

.card {
    background-color: #191919;
    height: 365px;
    width: 335px;
    border-radius: 15px;
    padding: 20px 35px;
    text-align: center;
}

.card img {
    height: 100px;
    background-color: #191919;
}

.card h5 {
    color: white;
    font-size: 24px;

}

.card p {
    color: #e2b9c6;
    margin: 20px 0px 40px 0px;
}

.card a {
    background: orangered;
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}

.card a:hover {
    background: transparent;
    border: 2px solid orangered;
    transition: 0.5s;

}

.card-projects {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

}

footer {
    background-color: #000;
    padding-top: 100px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

footer h5 {
    color: white;
    font-size: 30px;
    padding-bottom: 5px;

}

footer p {
    color: white;
    font-size: 16px;
    margin-bottom: 30px;
    margin: top 14px;


}

.social {
    display: flex;
    gap: 15px;

}

.social a:hover {
    transform: scale(1.3);
    transition: 0.5s;


}

.social img {
    height: 25px;
    border-radius: 50%;
}

.social a {
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    height: 50px;
    width: 50px;
    justify-content: center;
    cursor: pointer
}

#hamburguer {
    display: none;

}




@media (max-width: 767.98px) {

    header {
        position: fixed;
        width: max-content;
        padding-left: 50px;

    }

    .my-name .hero-container {
        width: auto;

    }

    .my-name {
        flex-direction: column;
    }

    .portfolio {
        font-size: 30px;
        padding-right: 50px;
        padding-left: 40px;
    }

    .potter-icon {
        margin-right: 100px;
    }

    .my-name .intro {
        padding-top: 80px;
    }

    .my-name .intro h1 {
        font-size: 30px;
        margin-left: 2rem;
        flex-direction: column;
        padding-top: 80px;
        display: flex;
    }

    .my-name .intro h3 {
        font-size: 16px;
        text-align: end;
        color: #fff;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
    }


    .hero-container img {
        flex-direction: column;
        width: 500px;
        padding-left: 90px;
        display: flex;
    }

    .about-and-skills {
        display: flex;
        flex-direction: column;
        padding-top: 1050px;
        justify-content: baseline;
    }

    .about-and-skills p {
        padding-top: 30px;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-content h2 {
        font-size: 25px;
        max-width: 14rem;
    }

    .about-content p {
        font-size: 14px;
        max-width: 14rem;
        margin: 20px;
    }

    .about-skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 480px;
        margin-left: 30px;
    }

    .about-skill h2 {
        font-size: 25px;
    }

    .card-skill span {
        font-size: 12px;
    }


    .projects {
        padding-top: 35rem;
        flex-direction: column;
        font-size: 20px;
        height: 120rem;
    }

    .projects h2 {
        font-size: 25px;
    }

    .card-projects {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        align-items: center;
        margin: 30px;
    }

    .card {
        margin-bottom: 60px;
    }

    footer {
        padding-top: 80rem;
        height: 12rem;
        margin: 0px;
        padding: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 40px;
        margin-top: 150px;
    }

    footer h5 {
        font-size: 25px;
    }

    footer p {
        font-size: 15px;
    }

    body {
        overflow-x: hidden;
    }



    #btn-Mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        z-index: 1000;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 100%;
        top: 80px;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        gap: .5rem;
        margin-top: -9px;
    }


    #nav.active #menu {
        left: 0;
        height: auto;
        width: 100%;
        padding: 30px;
        visibility: visible;
        margin-top: -9px;
        background: #000000;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    #hamburguer {
        display: block;
        background: transparent;
        border: none;
        width: 30px;
        padding: 5px 0;
        padding-right: 400px;
        position: fixed;
        padding-left: 60px;
    }

    #hamburguer span {
        width: 20px;
        border-top: 2px solid;
        color: white;
        display: block;
    }

    #hamburguer span::after,
    #hamburguer span::before {
        content: '';
        width: 20px;
        border-top: 2px solid;
        display: block;
        margin-top: 5px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
        transition: .3s;

    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;

    }

}


@media (min-width: 768px) and (max-width: 1023.98px) {

    header {
        position: fixed;
        width: max-content;

    }

    .my-name {
        flex-direction: column;
    }

    .portfolio {
        font-size: 40px;
        padding-right: 50px;

    }

    .potter-icon {
        margin-right: 100px;


    }

    .my-name {
        width: 1023.98px;
    }

    .my-name .intro {
        padding-top: 80px;

    }

    .my-name .intro h1 {
        font-size: 50px;
        margin-left: 2rem;
        flex-direction: column;
        padding-top: 80px;
        display: flex;
    }

    .my-name .intro h3 {
        font-size: 20px;
        text-align: end;
        color: #fff;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;
    }

    .my-name .hero-container {
        width: auto;
        margin: 0px;
    }

    .hero-container img {
        flex-direction: column;
        width: auto;
        padding-left: 90px;
        display: flex;
        max-width: 100%;
    }

    .about-and-skills {
        display: flex;
        flex-direction: column;
        padding-top: 1050px;
        justify-content: baseline;

    }

    .about-and-skills p {
        padding-top: 30px;
        width: fit-content;


    }

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 90px;
    }

    .about-content h2 {
        font-size: 45px;
        max-width: 14rem;
        padding-top: 150px;
    }

    .about-content p {
        font-size: 20px;
        max-width: 14rem;
        margin: 10px;
        max-width: fit-content;
        flex-direction: column;
        display: flex;

    }

    .about-skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 600px;
        margin-left: 30px;
        padding-right: 200px;
        padding-top: 50px;
        padding-left: 220px;
    }

    .about-skill h2 {
        font-size: 45px;
    }

    .card-skill span {
        font-size: 12px;


    }


    .projects {
        padding-top: 35rem;
        flex-direction: column;
        font-size: 45px;
        height: 145rem;
        padding-left: 50px;

    }

    .projects h2 {
        font-size: 45px;
    }

    .card-projects {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        align-items: center;
        margin: 30px;
        padding-top: 50px;
    }

    .card {
        margin-bottom: 60px;
        font-size: 15px;
        background-color: #191919;
        height: 425px;
        width: 365px;
        border-radius: 15px;
        padding: 20px 35px;
        text-align: center;

    }

    footer {
        height: 30rem;
        margin: 0px;
        padding: 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1023.98px;
    }

    footer h5 {
        margin-right: 200px;
        font-size: 30px;
        margin-bottom: 10px;
    }

    footer p {
        margin-right: 200px;
        margin-bottom: 30px;

    }

    footer .social {
        margin-right: 200px;

    }

    body {
        overflow-x: hidden;
    }



    #btn-Mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        z-index: 1000;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        width: 100%;
        top: 80px;
        background: #000000;
        height: 0px;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        gap: .5rem;
        margin-top: -9px;
    }


    #nav.active #menu {
        left: 0;
        height: auto;
        width: 100%;
        padding: 30px;
        visibility: visible;
        background: #000000;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 8rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    #hamburguer {
        display: block;
        background: transparent;
        border: none;
        width: 30px;
        padding: 5px 0;
        padding-right: 450px;
        position: fixed;
    }

    #hamburguer span {
        width: 20px;
        border-top: 2px solid;
        color: white;
        display: block;
    }

    #hamburguer span::after,
    #hamburguer span::before {
        content: '';
        width: 20px;
        border-top: 2px solid;
        display: block;
        margin-top: 5px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburguer {
        border-top-color: transparent;
    }

    #nav.active #hamburguer::before {
        transform: rotate(135deg);
        transition: .3s;

    }

    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;

    }

}

@media (min-width: 1024px) {}